<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>CatBlock Team</string>
	<key>Builder Version</key>
	<string>11601.5.17.1</string>
	<key>CFBundleDisplayName</key>
	<string>AdBlock with CatBlock</string>
	<key>CFBundleIdentifier</key>
	<string>com.catblock.adblockwithcatblock</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3</string>
	<key>CFBundleVersion</key>
	<string>101.2.1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>background_safari.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string></string>
				<key>Identifier</key>
				<string>AdBlockOptions</string>
				<key>Image</key>
				<string>img/icon16_grayscale.png</string>
				<key>Label</key>
				<string>Options</string>
				<key>Palette Label</key>
				<string></string>
				<key>Tool Tip</key>
				<string>AdBlock with CatBlock Options</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>uiscripts/load_jquery_ui.js</string>
				<string>uiscripts/blacklisting/rightclick_hook.js</string>
				<string>uiscripts/blacklisting/overlay.js</string>
				<string>uiscripts/blacklisting/clickwatcher.js</string>
				<string>uiscripts/blacklisting/elementchain.js</string>
				<string>uiscripts/blacklisting/blacklistui.js</string>
				<string>uiscripts/send_content_to_back.js</string>
				<string>uiscripts/top_open_blacklist_ui.js</string>
				<string>uiscripts/top_open_whitelist_ui.js</string>
				<string>uiscripts/safari_hooks.js</string>
			</array>
			<key>Start</key>
			<array>
				<string>jquery/jquery.min.js</string>
				<string>port.js</string>
				<string>functions.js</string>
				<string>filtering/filteroptions.js</string>
				<string>bandaids.js</string>
				<string>adblock_start_common.js</string>
				<string>adblock_start_safari.js</string>
				<string>catblock/contentscript.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Replaces ads with pictures of cats, or whatever you want</string>
	<key>DeveloperIdentifier</key>
	<string>3KKZV48AQD</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://catblock.tk</string>
</dict>
</plist>
