body {
    background-color: white;
    font-size: 12px;
}
#main_nav li {
    padding: 11px 24px;
}
#title {
    width: 100%;
    display: block;
    text-align: center;
    padding-top: 20px;
}
#legend {
    min-width: 1195px;
    margin: 80px auto 15px auto;
    text-align: center;
    display: none;
}
#frameselect {
    margin: 0 auto;
    max-width: 1195px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: none;
}
#frame {
    max-width: 400px;
}
#searchresources {
    margin: 0 auto;
    max-width: 1195px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: none;
}
#warning {
    margin: 0 auto;
    max-width: 1195px;
    display: none;
}
table {
    box-shadow: 0 0 5px rgba(0, 0, 0, .15);
    background: #F1F1F1;
    border-collapse: collapse;
    cursor: default;
    display: none;
    margin: 0 auto 20px auto;
    max-width: 1195px;
    width: 100%;
}
tbody {
    width: 100%;
}
th {
    border: 1px solid #ccc;
    font-weight: 500;
    cursor: pointer;
}
.framedomain, .frameurl, .frametype {
    text-align: left;
    font-size: small;
    padding-left: 25px;
}
.frametype {
    padding-top: 20px;
}
td {
    border: 1px solid #ccc;
    min-width: 0.5em;
    padding: 3px;
    vertical-align: top;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
td[data-column="time"] {
    width: 75px;
    text-align: center;
}
td[data-column="type"] {
    text-align: center;
    max-width: 45px;
}
td[data-column="filter"] {
    max-width: 100px;
    text-align: center;
}
td[data-column="url"] {
    max-width: 350px;
}
td[data-column="thirdparty"] {
    text-align: center;
    width: 60px;
}
.loader {
    display: block;
    margin: 120px auto auto;
    height: 25px;
}
.blocked {
    color: red;
}
.whitelisted {
    color: green;
}
.hiding {
    color: blue;
}