body {
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
div {
    padding: 10px;
    background-color: #F2F2F2;
    box-shadow: 3px 1px 9px 1px rgba(0, 0, 0, 0.25)
}
#listUrl {
    display: block;
    font-size: small;
    font-style: italic;
    color: #222;
}
.logo {
    margin: 0px;
    background-repeat: no-repeat;
    max-height: 20%;
    width: 130px;
    box-shadow: none;
}
h3 {
    margin-bottom: 5px;
    -webkit-margin-before: 0.5em;
}
#result {
    color: red;
    margin-left: 5px;
}